


body {
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(29, 29, 29);
    width: 100%;
    overflow-x: hidden;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0.1px;

}

a {
    text-decoration: none;
    color: inherit;
}

html {
    overflow-x: hidden;
    line-height: 1.15;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;

}

article {
    margin-top: 170px;
    margin-bottom: 100px;
}


h1 {
    font-family: 'modetourb';
    font-size: 2.8em;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-size: 2.4em;
    line-height: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2.1em;
    font-weight: 400;
}

h4 {
    font-size: 1.7em;
    line-height: 1.5em;
    font-weight: 300;
}

h5 {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
}

p {
    font-size: 1.05em;
    line-height: 1.5em;
    font-weight: lighter;
}

button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
    line-height: 3rem;
    border: 1px solid #dddddd;
    margin: 5px 0;
    padding: 0 5px;
    font-family: 'Noto Sans KR', sans-serif;
    
}



.gre-btn {
    background: #009c75;
    color: white;
    font-weight: bold;
}

.red-btn:hover {
    box-shadow: 1px 1px 4px #cccccc;
    transition: 0.5s;
}

.black-btn {
    background: #444444;
    color: white;
}

.black-btn:hover {
    background: black;
    transition: 0.5s;
}

.white-btn {
    background: none;
    color: black;
    width: 100%;
    font-weight: bold;
}

.white-btn:hover {
    box-shadow: 1px 1px 4px #cccccc;
    transition: 0.5s;
}

.gray-btn {
    background: #eeeeee;
    color: black;
    font-weight: bold;
    padding: 0 40px;
    border: 0px;
}



.gray-btn:hover {
    transition: 0.5s;
    background: #cccccc;
}

.content-box {
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin: 50px 5%;
    padding: 50px 30px;
    
}

.essential::after {
    content: '*';
    color: #e6002d;
}

hr {
    border-bottom: 1px solid #dddddd;
    margin: 20px 0;
}

input {
    width: 100%;
    font-size: 1rem;
    line-height: 3rem;
    margin: 5px auto;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
}

input:focus {
    outline: 1px solid black;
}

input::placeholder {
    color: #cccccc;
}

img {
    width: 17px;
    margin-right: 10px;
}

ul,
ol,
li {
    list-style-type: none;
}




.bold {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .green {
    color: #009c75;
  }
  
  .gray {
    color: rgb(148, 148, 148);
    font-size: 1.0em;
  }
  
  .center {
    text-align: center;
    margin-top: 10px;
  }
  


/* 링크 기본값 */

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #747474;
    font-size: 0.8rem;
    font-weight: bold;
}






/*mobile*/

.login .content-box>:nth-child(1) {
    color: #888888;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.login .content-box>:nth-child(4) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.login .content-box>:nth-child(4) label input {
    width: 20px;
}

.login .content-box>:nth-child(4) div>:nth-child(1)::after {
    content: ' ❘';
}

.login .content-box>:nth-child(5) {
    width: 100%;
}

.login .content-box>:nth-child(8) p {
    text-align: center;
    margin: 10px 0;
}

.login .content-box>:nth-child(7) button {
    font-weight: normal;
}

.login-button {
    text-align: center;

}

.login-button div {
    align-items: center;
}

.login-button img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.login-button button {
    display: flex;
    justify-content: center;
}

.join-us .content-box {
    position: relative;
}

.address-icon {
    padding-top: 85px;
    position: relative;
    z-index: 14;
}

.address-box {
    position: relative;
    z-index: 13;
}

.join-us .content-box p {
    margin-top: 30px;
}

.join-us .content-box>:nth-child(3),
.join-us .content-box>:nth-child(13) {
    display: flex;
}

.join-us .content-box>:nth-child(3) input {
    width: 73%;
    margin-right: 2%;
}

.join-us .content-box>:nth-child(3) button {
    width: 25%;
}

.join-us .content-box>:nth-child(13) input {
    width: 61%;
    margin-right: 2%;
}

.join-us .content-box>:nth-child(13) button {
    width: 37%;
}

.join-us .content-box img {
    position: absolute;
    width: 30px;
    right: 30px;
    top: 770px;
}

.join-us .content-box>:nth-child(15):hover {
    background: #eeeeee;
    transition: 0.5s;
    cursor: pointer;
}

.join-us .content-box .birth div {
    display: flex;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 3rem;
    margin: 5px auto;
    padding-left: 20px;
}

.join-us .content-box .birth div select {
    text-align: center;
    padding-left: 0;
    margin: 0;
    border: 0px;
}

.join-us .content-box .birth div>:nth-child(2),
.join-us .content-box .birth div>:nth-child(3) {
    padding-left: 30px;
}

.join-us .content-box .agree input {
    width: 20px;
    position: relative;
    z-index: 13;
}

.join-us .content-box .agree>:nth-child(3) {
    width: 100%;
}

.join-us .content-box .agree .checkbox_group div>:nth-child(3):hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.join-us>:nth-child(4)>:nth-child(2) {
    height: 300px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    background: #eeeeee;
    padding: 15px;
    font-size: 0.9rem;
}

.join-us>:nth-child(4)>:nth-child(3) {
    margin: 20px;
    font-size: 0.85rem;
}

.join-us>:nth-child(4)>:nth-child(4) {
    width: 100%;
}

.join-us>:nth-child(5) {
    text-align: center;

}

.join-us>:nth-child(5) button a {
    color: white;
    position: relative;
    z-index: 13;

}

.join-us p {
    font-weight: 400;
    margin-bottom: 5px;
}




/* .join-us>:nth-child(5) p{
  text-align:center !important;  
} */

.join-us>:nth-child(5) button {
    width: 45%;
}

.remov-acc {
    text-align: center;
}

.remov-acc>:nth-child(2) button {
    margin-top: 30px;
}

.remov-acc>:nth-child(3) p {
    text-align: left;
    margin: 20px 0;
}

.remov-acc>:nth-child(3) select {
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.remov-acc>:nth-child(3) textarea {
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.remov-acc>:nth-child(4) img {
    width: 40px;
    margin-right: 0;
    margin-bottom: 30px;
}

.remov-acc .content-box p {
    margin-bottom: 5px;
}




@media screen and (min-width: 1366px) {
    .content-box {
        width: 600px;
        margin: 70px auto;
    }
}

.sub-t {
    font-family: 'modetourR';
    margin-bottom: 20px;
}



   /*header start*/

/* 한글 기본폰트 */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'modetourb';
    src: url('./font/MODETOURB.woff') format('woff');
}

@font-face {
    font-family: 'modetourR';
    src: url('./font/MODETOURR.woff') format('woff');
}

html {
    font-family: 'Noto Sans KR', sans-serif;
}




/* 노말라이즈 */

body::-webkit-scrollbar {
    width: 8px;
}

@media (min-width:1200px) {
    body::-webkit-scrollbar {
        width: 12px;
    }
}


body::-webkit-scrollbar-thumb {
    height: 20%;
    background: rgba(45, 134, 112, 0.74);
    border-radius: 10px;
    transition: 0.3s;
}

body::-webkit-scrollbar-thumb:hover {
    background: #009c75;

}

body::-webkit-scrollbar-track {
    background: rgba(139, 139, 139, 0.123);
}

body {
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(29, 29, 29);
    width: 100%;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0.1px;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    overflow-x: hidden;
    line-height: 1.15;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;

}



video {
    width: 100%;
}



h1 {
    font-family: 'modetourb';
    font-size: 2.8em;
    line-height: 2.8rem;
    font-weight: 600;
}

h2 {
    font-size: 2.4em;
    line-height: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2.1em;
    font-weight: 400;
}

h4 {
    font-size: 1.7em;
    line-height: 1.5em;
    font-weight: 300;
}

h5 {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 300;
}

p {
    font-size: 1.05em;
    line-height: 1.5em;
    font-weight: 300;
}

a:link {
    text-decoration: none;
    font-size: 1em;
}



hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #cccccca2;
}


.hr01,
.hr02 {
    display: none;
    margin: 100px 0;
}

.big-underline {
    padding: 0 15%;
    width: 100%;
}

.big-underline hr {
    background-color: black;
    height: 2px;
}

.big-underline h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

@media screen and (min-width:800px) {

    .hr01,
    .hr02 {
        display: block;
    }
}



a {
    color: inherit;
    text-decoration: none;
}


.title-t {
    font-family: 'modetourb';
    margin-bottom: 15px;
}

.title-t-pc {
    display: none;
}



@media screen and (min-width:800px) {

    .title-t {
        margin-bottom: 20px;
    }

    .title-t-pc {
        display: block;
        color: #009c75;

    }

}




.bold {
    font-weight: 900;
}

.green {
    color: #009c75;
}

.remov-acc .gray {
    color: rgb(80, 80, 80);
    margin-top: 5px;
}

.center {
    text-align: center;
}


/* 헤더 라이브러리 */
.con {
    max-width: 1300px;
    margin: 0 auto;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.visible-on {
    display: block;
}

.visible-off {
    display: none;
}

.img-box {
    overflow: hidden;
}

.img-box>img {
    width: 100%;
    display: block;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

/* 라이브러리 끝 */


/* pc 헤더 */








/* 모바일 헤더 */

/* 헤더 열었을 때 y스크롤 없도록 */
html.m-menu-scroll,
html.m-menu-scroll>body {
    overflow: hidden;
}


.m-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    z-index: 11;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

@media screen and (min-width:800px) {
    .m-header {
        height: 90px;
    }
}


.m-header.scrolled {
    background-color: white;
    transition: 0.3s;
}




.m-header>.logo {
    width: 160px;
    display: inline-block;
    padding-top: 8px;

}



.m-header>.search {
    width: 18px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translatey(-50%);
    filter: invert(46%) sepia(0%) saturate(0%) hue-rotate(330deg) brightness(91%) contrast(87%);
 
}

.contact {
    position: absolute;
    top: 40%;
    right: 50%;
    color: white;
    display: none;
}

.search-text {
    display: none;
}

@media screen and (min-width:800px) {

    .m-header>.logo {
        width: 180px;
        display: inline-block;
        padding-top: 8px;
    }



    .m-header>:nth-child(3) {
        font-size: 1.1em;
        letter-spacing: 0.05em;
    }

    .m-header>.search {
        width: 130px;
        right: 5%;
        display: inline-flex;
        justify-content: center;
        background-color: #009c75;
        border-radius: 2px;
        padding: 10px 0;
        filter: none;

    }

    .m-header>.search img {
        width: 20px;
    }

    .search-text {
        display: block;
        color: white;
        margin-left: 10px;
    }


    .m-header>.m-menu-btn {
        margin-left: 70px;
    }

    .m-header>.m-menu-txt {

        margin-left: 75px;
        margin-top: -2px;
    }

    .m-header>.m-menu-btn>div {
        width: 40%;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        top: 17px;
        left: 50%;
        transform: translatex(-50%);
        transition: top .2s, transform .2s, opacity .2s;
    }
}




/* 모바일 메뉴 버튼 */
.m-header>.m-menu-btn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translatey(-50%);
    width: 46px;
    height: 46px;
    cursor: pointer;

}

.m-header>.m-menu-txt {
    position: absolute;
    top: 66%;
    left: 50px;
    transform: translatey(-50%);
    width: 46px;
    height: 46px;
    cursor: pointer;
    color: #6d6d6d;
}

.m-header>.m-menu-btn>div {
    width: 40%;
    height: 1px;
    background-color: #6d6d6d;
    position: absolute;
    top: 17px;
    left: 50%;
    transform: translatex(-50%);
    transition: top .2s, transform .2s, opacity .2s;

}

.m-header>.m-menu-btn>div:nth-child(2) {
    top: 22px;
}

.m-header>.m-menu-btn>div:nth-child(3) {
    top: 27px;
}

/* 버튼 클릭 시 애니메이션 */
.m-header>.m-menu-btn.active div:nth-child(1) {
    top: 50%;
    transform: translatex(-50%) translatey(-50%) rotate(45deg);
}

.m-header>.m-menu-btn.active div:nth-child(3) {
    top: 50%;
    transform: translatex(-50%) translatey(-50%) rotate(-45deg);
}

.m-header>.m-menu-btn.active div:nth-child(2) {
    opacity: 0;
}


/* 모바일 배경 마스크 */
.m-header>.mobile-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #009c75;
    z-index: 0;
    transition: height .3s;
}



.list-icon {
    text-align: left;
    display: flex;
    align-items: center;
}

.list-icon span {
    border: 3px solid white;
    border-radius: 30px;
    padding: 3px 8px;
    margin-right: 2px;
    margin-left: -2px;
    color: white;

}

.list-icon p {
    margin-left: 0px;
    line-height: 2em;
    color: white;
    font-size: 1.2em;
}

.list-icon img {
    width: 75px;
    filter: invert();
    border-radius: 50%;
}

/* 모바일 메뉴 리스트 */


/* 모바일 메뉴 닫기 버튼 */
.m-menu-close-btn {
    z-index: 2;
    text-align: right;
    padding-right: 10px;
}

.m-menu-close-btn img {
    width: 20px;
    cursor: pointer;
    filter: invert();
}


.m-header>.m-menu-list {
    overflow-y: none;
    position: relative;
    padding-bottom: 100px;
}




.m-header>.m-menu-list>ul>li {
    visibility: hidden;
    transform: translatey(-20px);
    opacity: 0;
    position: relative;
}

.m-header>.m-menu-list.active>ul>li {
    visibility: visible;
    transform: translatey(0);
    opacity: 1;
}

.m-header>.m-menu-list.active>ul>li.delay-1 {
    margin-top: 60px;
    transition: visibility .5s, opacity .5s, transform .5s;
}

.m-header>.m-menu-list.active>ul>li.delay-2 {
    transition: visibility .5s .1s, opacity .5s .1s, transform .5s .1s;
}

.m-header>.m-menu-list.active>ul>li.delay-3 {
    transition: visibility .5s .2s, opacity .5s .2s, transform .5s .2s;
}

.m-header>.m-menu-list.active>ul>li.delay-4 {
    transition: visibility .5s .3s, opacity .5s .3s, transform .5s .3s;
}

.m-header>.m-menu-list.active>ul>li.delay-5 {
    transition: visibility .5s .4s, opacity .5s .4s, transform .5s .4s;
}

.m-menu-list>:first-child li {
    z-index: 1;
    padding: 0 5%;

}

.m-header>.m-menu-list>ul>li>a {
    display: block;
    padding: 13px 10px;
    text-align: left;
    font-size: 17px;
    font-weight: 600;

}

.m-header>.m-menu-list>ul>li>a>span {
    transition: transform .3s;
}

.m-header>.m-menu-list>ul>li.active>a>span {
    transform: rotate(180deg);
}

.list-span {
    color: rgb(148, 148, 148);
    margin-left: 8px;
}

.list-span:hover {
    color: #009c75;
    transition: 0.2s;
}

.delay-d {
    margin-bottom: 25px;
}



.list-b a {
    position: absolute;
    top: -510px;
    width: 100%;
    height: 5000px;
    background-color: rgb(255, 255, 255);
    z-index: -100;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.list-banner {
    position: absolute;
    bottom: -12%;
    width: 100%;
    padding: 0 5%;
    z-index: 1;

}

.list-banner img {
    width: 100%;
    text-align: center;
}





.list-fonticon {
    position: absolute;
    bottom: 2%;
    width: 100%;
    display: flex;
    z-index: 1;
    padding: 0 5%;
}

.list-fonticon i {
    font-size: 22px;
    color: rgb(148, 148, 148);
    margin-right: 20px;
    transition: 0.2s;
}

.list-fonticon i:hover {
    color: #009c75;
}

@media screen and (min-width:800px) {
    .m-header>.m-menu-list {
        width: 30%;
    }

    .m-header>.mobile-mask {
        width: 30%;
        box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.11);

    }
}

/* 모바일 서치 온 */




.m-header>.m-search-on {
    position: fixed;
    width: 100%;
    top: 15%;
    padding: 0 5%;
    visibility: hidden;
    opacity: 0;
    text-align: left;

}

.m-header>.m-search-on.active {
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity 1s;
}

.m-header>.m-search-on>.m-search-box {
    position: relative;
}



.m-search-b {
    position: absolute;
    z-index: -1;
    top: 1%;
    left: 0%;
    width: 100%;
    height: 2000px;
    background-color: white;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.m-search-box>:first-child {
    width: 100%;
    display: flex;

    align-items: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.m-search-maint {
    color: white;
}

.m-search-box>:first-child img {
    filter: invert();
    width: 40px;
    margin-left: 10px;
    opacity: 95%;
}

/* 모바일 서치 닫기 버튼 */




.m-search-close-btn {
    text-align: right;
    margin-top: -80px;

}

.m-search-close-btn img {
    width: 20px;
    cursor: pointer;
    filter: invert();
}




/* 여행지 선택 */

.scrollY::-webkit-scrollbar {
    width: 8px;
}

.scrollY::-webkit-scrollbar-thumb {
    height: 10%;
    background: #009c75;
    border-radius: 10px;
}

.scrollY::-webkit-scrollbar-track {
    background: rgba(134, 132, 109, 0.1);
}

.menu-accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    overflow-y: scroll;

}

.menu-accordion-item {
    border-right: 1px solid #cccccca2;
    width: 50%;
    position: relative;
}

.menu-accordion-header {
    padding: 20px 10px;
    font-size: 16px;
    cursor: pointer;
}


.search-sub-t {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}

.menu-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}



.additional-content {
    padding: 20px 10px;
    cursor: pointer;
}

.submenu-accordion {
    display: flex;
    flex-direction: column;
}

.submenu-accordion-item {
    position: relative;
}

.submenu-accordion-header {
    padding: 20px 10px;
    cursor: pointer;
    font-size: 16px;
}

.submenu-accordion-content {
    max-height: 0;
    transition: 0.3s ease-out;
    position: relative;
}



.submenu-accordion.sub-accordion-menu-1 {
    display: flex;
    flex-direction: column;
}

.submenu-accordion-item {
    position: relative;
}

.submenu-accordion-header {
    padding: 20px 15px;
    background-color: #f1f1f173;
    cursor: pointer;
    font-size: 16px;
}

.submenu-accordion.sub-accordion-menu-1 .submenu-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
    position: relative;
}

.submenu-accordion.sub-accordion-menu-1 .submenu-accordion-item.active .submenu-accordion-content {
    max-height: 100%;
}


/* 캘린더 start */

.calendar {
    width: 100%;
}

.calendar>:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar>:first-child button {

    background-color: #009c75;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명한 검은 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-content {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
}

#close-btn {
    cursor: pointer;
    color: #333;
    float: right;
    font-size: 20px;
}

#calendarPopup button {
    border: none;
    background-color: transparent;
}


.calendar-wrap {
    max-width: 1175px;
    margin: 0 auto;
    display: flex;
    gap: 2%;
    margin-bottom: 20px;
}



.calendar-middle-wrap {
    background: #fafbfa;
    width: 34%;
    padding: 40px 32px;
    padding-bottom: 100px;
}

.checkInOutInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f7f7f78c;
    border-radius: 5px;
}

.calendar-wrap .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.calendar-wrap .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
    font-size: 20px;
}

.calendar-wrap .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.calendar-wrap .cal_nav .go-prev,
.calendar-wrap .cal_nav .go-next {
    display: block;
    width: 50px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-wrap .cal_nav .go-prev::before,
.calendar-wrap .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.calendar-wrap .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.calendar-wrap .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.calendar-wrap .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.calendar-wrap .cal_wrap::after {
    top: 368px;
}

.calendar-wrap .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 250px;
}

.calendar-wrap .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
}

.calendar-wrap .cal_wrap .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    text-align: left;
    color: #2d1d0b;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.calendar-wrap .cal_wrap .day span {
    z-index: 5;
}

.calendar-wrap .cal_wrap .day .check_in_out_p {
    position: absolute;
    left: 50%;
    top: 47px;
    transform: translateX(-50%);
    font-size: 12px;
    width: 100%;
    color: var(--blue);
}

.calendar-wrap .cal_wrap .checkIn span,
.calendar-wrap .cal_wrap .checkOut span {
    color: #fff;
    background-color: #009c75d8;
    border-radius: 50%;
    padding: 10px;
}



.calendar-wrap .cal_wrap .selectDay {
    position: relative;

}

.calendar-wrap .cal_wrap .selectDay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 30px;
    background: #00c090af;
    opacity: 0.3;
    z-index: 1;
}

.calendar-wrap .cal_wrap .checkIn.selectDay::before {
    left: 50%;
    width: 50%;
}

.calendar-wrap .cal_wrap .checkOut.selectDay::before {
    width: 50%;
}

.calendar-wrap .cal_wrap .checkIn::after,
.calendar-wrap .cal_wrap .checkOut::after,
.calendar-wrap .cal_wrap .checkIn::after {
    content: '';
    background: var(--blue);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 2;
}

.calendar-wrap .cal_wrap .day:nth-child(7n -6) {
    color: #ed2a61;
}

.calendar-wrap .cal_wrap .day:nth-child(7n) {
    color: #3c6ffa;
}

.calendar-wrap .cal_wrap .day.disable {
    color: #ddd;
}

.current.today {
    background: rgb(242 242 242);
}

.checkInOutInfo>div {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.checkInOutInfo p {
    font-size: 1em;
    color: #494949;
    line-height: 1.7;
    color: #009c75;
    font-weight: 600;
}

.checkInOutInfo p.space {
    margin-bottom: 10px;
}

.checkInOutInfo p:nth-child(1) {
    width: 100%;
}

.checkInOutInfo p:nth-child(3) {
    width: 100%;
}

.checkInOutInfo p span {
    display: block;
    color: #a1a1a1;
    font-size: 1.1em;
    font-weight: 400;
}

/*닫기버튼*/

#closeButton {
    text-align: right;
    width: 100%;
    padding: 0 4%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#closeButton img {
    width: 30px;
    cursor: pointer;
}

.select-b {
    padding: 10px;
    background-color: #009c75;
    color: white;
    border-radius: 5px;
}


@media screen and (max-width :1200px) {


    .calendar-wrap {
        flex-wrap: wrap;
        padding: 2%;
    }

    .calendar-middle-wrap {
        width: 49%;
        padding: 40px 7%;
    }

    .checkInOutInfo {
        width: 100%;
        margin-top: 2%;
        padding: 20px;
    }

    .checkInOutInfo>div {
        flex-direction: row;
        width: 100%;
    }

    .checkInOutInfo p:nth-child(1) {
        width: 50%;
    }

    .checkInOutInfo p:nth-child(2) {
        width: 50px;
    }

    .checkInOutInfo p:nth-child(3) {
        width: 50%;
    }
}

@media screen and (max-width:800px) {
    .calendar-wrap {
        margin-top: 20px;
    }

    .calendar-middle-wrap {
        width: 100%;
        padding: 3% 10%;
    }

    .calendar-middle-wrap:first-of-type {
        margin-bottom: 2%;
    }

    .checkInOutInfo {
        padding: 10px;
    }


    .checkInOutInfo p.space {
        margin-bottom: 0;
    }

    .checkInOutInfo p span {
        display: inline-block;
        margin-right: 10px;
    }

}

/* 최근검색, 검색버튼 */

.search-search {
    width: 100%;
}

.search-none-icon {
    width: 50px;
    margin-bottom: 20px;
}

.search-search>:nth-child(3) {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
    font-size: 1.15em;
    margin-top: 30px;
}

.search-search a {
    color: white;
}

/*header end*/




/* footer start */

footer {
    background-color: black;
    color: white;
    padding: 60px 5%;


}

footer p {
    font-weight: 300;
    color: #c0c0c0;
    font-size: 0.95em;
}

.footer-mainIcon img {
    width: 170px;
}

.footer-02 {
    width: 100%;
    padding-top: 30px;
    display: flex;
}

.footer-02 p {
    margin-right: 15px;
}

.footer-03 {
    padding: 30px 0;
}

.footer-04 {
    margin-bottom: 50px;
}

.footer-subIcon {
    width: 100%;
    height: 20px;
    display: inline-flex;
    align-items: center;

}

.footer-subIcon img {
    width: 20px;
    margin-right: 15px;
}

@media screen and (min-width: 1366px) {
    footer {
        display: flex;
        justify-content: space-between;
        height: 430px;
    }

    footer>:nth-child(1) {
        width: 27%;
    }

    footer>:nth-child(2),
    footer>:nth-child(3) {
        width: 34.5%;
    }

    footer>:nth-child(3) {
        padding-top: 30px;
        justify-content: end;
    }

    .footer-subIcon img {
        width: 25px;
        margin-right: 20px;
    }

    footer p {
        font-size: 1.03em;
    }

}

